/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}


/* Tablets, iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 786px) and (max-width : 1024px) {
/* Styles */

    /* SIDEBAR AREA  */
    div.ui.left.sidebar {
        width: 255px;
    }

    a.item {
        font-size: 20px;
    }

    #lance-image {
        margin-left: 14%;
    }

    .head-sidebar h2 {
        font-size: 24px;
        text-align: center;
        color: #f35459;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #f35459
    }

    .head-sidebar p {
        font-size: 20px !important;
        text-align: center;
    }

    /* INTRO AREA */

    div#intro-name {
        z-index: 1;
        position: absolute;
        left: 15%;
        top: 20%;
        color: #fff;
        font-size: "Fira Sans", sans-serif;
    }

    #intro-name {
        letter-spacing: 2px
    }

    div#intro-name p {
        font-size: 30px;
        margin: -14px;
        text-align: center;
        font-weight: 700;
        color: #fff;
    }

    div#intro-name span {
        color: #f35459;
        font-style: italic;
        font-size: 40px;
    }

    div#intro-name button {
        margin-left: 28%;
        margin-top: 120px;
        font-size: 20px;
        font-weight: 400;
    }

    div.column.right-side {
        padding: 0 !important;
    }

    div.column.right-side img {
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    /* ABOUT AREAS */

    div#about-me {
        color: white;
        background-color: #f35459;
        font-size: 30px;
        padding: 20px 30px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    blockquote {
        font-size: 28px;
        border-left: 8px solid #333;
        padding: 0px 40px;
        line-height: 40px;
    }

    #about {
        padding: 5% 5%;
    }

    #about p {
        font-size: 23px;
        text-align: justify;
        padding: 30px 150px 10px 40px;
    }

    /* EXPERIENCE AREA */

    div#experience {
        color: white;
        background-color: #f35459;
        font-size: 30px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    #volunteer-job-one {
        margin-top: 8%;
        width: 40%;
        margin-left: 20%;
    }

    #volunteer-job-one .content .state-line {
        font-size: 26px;
    }

    #volunteer-job-one .content h4 {
        font-size: 18px;
    }

    #volunteer-job-one .content .summary {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }

    #volunteer-job-two {
        margin-top: 26px;
        width: 40%;
        margin-left: 20%;
        margin-bottom: 10%;

    }

    #volunteer-job-two .content .state-line {
        font-size: 26px;
    }

    #volunteer-job-two .content h4 {
        font-size: 18px;
    }

    #volunteer-job-two .content .summary {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }

    /* PROJECTS AREA */

    div#projects {
        color: white;
        background-color: #f35459;
        font-size: 30px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.cards.pusher {
        margin: 12% 2%;

    }

    div.hidden.content h1 {
        border-bottom: 1px solid #333;
        width: 80%;
        height: auto;
        margin-left: 9%;
        padding-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }

    div.hidden.content p {
        text-align: center;
        font-size: 14px;
    }

    div.hidden.content button {
        display: inline-flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    button.github {
        margin-left: 90px !important;
    }

    div.visible.content {
        padding: 0;
        width: 100%;
        height: auto;
    }

    div.visible.content img {
        width: 100%;
        height: auto;
        padding: 0;
        background: #fff;
    }



    /* SKILLS AREA */

    div#skills {
        color: white;
        background-color: #f35459;
        font-size: 30px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.skill-card {
        width: 65%;
        margin: 10% 3%;
    }

    div.ui.skill-card div.content div.header {
        font-size: 22px !important;
    }

    div.skill-card h3 {
        text-align: center;
        font-size: 14px;
    }

    div.skill-card img {
        width: 125px !important;
        height: 125px !important;
    }

    /* EDUCATION AREA */

    div#education {
        color: white;
        background-color: #f35459;
        font-size: 30px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.cards#education-area {
        margin: 10% 0;
    }

    div.card-header {
        font-size: 20px;
        padding-top: 5%;
        margin-left: -70px;
        width: 100%;
        text-align: center;
    }

    div.ui.edu-card {
        width: 67%;
        margin: 3% 3%;
    }

    div.edu-content {
        text-align: center;
        width: 100%;
        margin-left: 85%;
    }

    div.edu-content.mssu {
        margin-left: 45%;
    }

    .ku {
        width: 50px !important;
        height: 50px !important;
        margin-left: 4%;
        margin-top: 2%;
    }

    /* CONTACT AREA */

    .contact-area {
        background-image: url("../images/gif-background.gif");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin-left: -20px;  
        padding: 20% 0;
    }

    div#contact {
        color: white;
        background-color: #f35459;
        font-size: 30px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    .contact-button {
        padding: 20px;
        background: none;
        border: none;
        margin: 20% 33%;
    }

    .contact-area h2 {
        color: #fcfcfc;
        letter-spacing: 2px;
        font-size: 50px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fcfcfc;
        padding: 12% 25%;
    }

    .contact-button button {
        outline: none !important;
    }

    .contact-button i {
        color: #fcfcfc !important;
        margin-top: -300px;
    }


}

/* Tablets, iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

    /* SIDEBAR AREA  */
    div.ui.left.sidebar {
        width: 255px;
    }

    a.item {
        font-size: 20px;
    }

    #lance-image {
        margin-left: 14%;
    }

    .head-sidebar h2 {
        font-size: 24px;
        text-align: center;
        color: #f35459;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #f35459
    }

    .head-sidebar p {
        font-size: 20px !important;
        text-align: center;
    }

    /* INTRO AREA */

    div#intro-name {
        z-index: 1;
        position: absolute;
        left: 25%;
        top: 20%;
        color: #fff;
        font-size: "Fira Sans", sans-serif;
    }

    #intro-name {
        letter-spacing: 2px
    }

    div#intro-name p {
        font-size: 40px;
        margin: -14px;
        text-align: center;
        font-weight: 700;
        color: #fff;
    }

    div#intro-name span {
        color: #f35459;
        font-style: italic;
        font-size: 50px;
    }

    div#intro-name button {
        margin-left: 28%;
        margin-top: 120px;
        font-size: 20px;
        font-weight: 400;
    }

    div.column.right-side {
        padding: 0 !important;
    }

    div.column.right-side img {
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    /* ABOUT AREAS */

    div#about-me {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 20px 30px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    blockquote {
        font-size: 30px;
        border-left: 8px solid #333;
        padding: 0px 40px;
        line-height: 40px;
    }

    #about {
        padding: 5% 5%;
    }

    #about p {
        font-size: 25px;
        text-align: justify;
        padding: 30px 150px 10px 40px;
    }

    /* EXPERIENCE AREA */

    div#experience {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    #volunteer-job-one {
        margin-top: 8%;
        width: 40%;
        margin-left: 20%;
    }

    #volunteer-job-one .content .state-line {
        font-size: 30px;
    }

    #volunteer-job-one .content h4 {
        font-size: 20px;
    }

    #volunteer-job-one .content .summary {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    #volunteer-job-two {
        margin-top: 30px;
        width: 40%;
        margin-left: 20%;
        margin-bottom: 10%;

    }

    #volunteer-job-two .content .state-line {
        font-size: 30px;
    }

    #volunteer-job-two .content h4 {
        font-size: 20px;
    }

    #volunteer-job-two .content .summary {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    /* PROJECTS AREA */

    div#projects {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.cards.pusher {
        margin: 12% 10%;

    }

    div.hidden.content h1 {
        border-bottom: 1px solid #333;
        width: 80%;
        height: auto;
        margin-left: 9%;
        padding-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }

    div.hidden.content p {
        text-align: center;
        font-size: 14px;
    }

    div.hidden.content button {
        display: inline-flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    button.github {
        margin-left: 90px !important;
    }

    div.visible.content {
        padding: 0;
        width: 100%;
        height: auto;
    }

    div.visible.content img {
        width: 100%;
        height: auto;
        padding: 0;
        background: #fff;
    }



    /* SKILLS AREA */

    div#skills {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.skill-card {
        width: 60%;
        margin: 10% 11%;
    }

    div.ui.skill-card div.content div.header {
        font-size: 22px !important;
    }

    div.skill-card h3 {
        text-align: center;
        font-size: 14px;
    }

    div.skill-card img {
        width: 125px !important;
        height: 125px !important;
    }

    /* EDUCATION AREA */

    div#education {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.cards#education-area {
        margin: 10% 0;
    }

    div.card-header {
        font-size: 22px;
        padding-top: 5%;
        margin-left: -70px;
        width: 100%;
        text-align: center;
    }

    div.ui.edu-card {
        width: 40%;
        margin: 3% 20%;
    }

    div.edu-content {
        text-align: center;
        width: 100%;
        margin-left: 85%;
    }

    div.edu-content.mssu {
        margin-left: 45%;
    }

    .ku {
        width: 50px !important;
        height: 50px !important;
        margin-left: 4%;
        margin-top: 2%;
    }

    /* CONTACT AREA */

    .contact-area {
        background-image: url("../images/gif-background.gif");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin-left: -20px;  
    }

    div#contact {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    .contact-button {
        padding: 20px;
        background: none;
        border: none;
        margin: 10% 34%;
    }

    .contact-area h2 {
        color: #fcfcfc;
        letter-spacing: 2px;
        font-size: 50px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fcfcfc;
        padding: 10% 30%;
    }

    .contact-button button {
        outline: none !important;
    }

    .contact-button i {
        color: #fcfcfc !important;
        margin-top: -300px;
    }

}

/* Tablets, iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */

    /* SIDEBAR AREA  */
    div.ui.left.sidebar {
        width: 255px;
    }

    a.item {
        font-size: 20px;
    }

    #lance-image {
        margin-left: 14%;
    }

    .head-sidebar h2 {
        font-size: 24px;
        text-align: center;
        color: #f35459;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #f35459
    }

    .head-sidebar p {
        font-size: 20px !important;
        text-align: center;
    }

    /* INTRO AREA */

    div#intro-name {
        z-index: 1;
        position: absolute;
        left: 20%;
        top: 24%;
        color: #fff;
        font-size: "Fira Sans", sans-serif;
    }

    #intro-name {
        letter-spacing: 2px
    }

    div#intro-name p {
        font-size: 40px;
        margin: -14px;
        text-align: center;
        font-weight: 700;
        color: #fff;
    }

    div#intro-name span {
        color: #f35459;
        font-style: italic;
        font-size: 50px;
    }

    div#intro-name button {
        margin-left: 28%;
        margin-top: 120px;
        font-size: 20px;
        font-weight: 400;
    }

    div.column.right-side {
        padding: 0 !important;
    }

    div.column.right-side img {
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    /* ABOUT AREAS */

    div#about-me {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 20px 30px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    blockquote {
        font-size: 30px;
        border-left: 8px solid #333;
        padding: 0px 40px;
        line-height: 40px;
    }

    #about {
        padding: 5% 5%;
    }

    #about p {
        font-size: 25px;
        text-align: justify;
        padding: 30px 150px 10px 40px;
    }

    /* EXPERIENCE AREA */

    div#experience {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    #volunteer-job-one {
        margin-top: 8%;
        width: 40%;
        margin-left: 20%;
    }

    #volunteer-job-one .content .state-line {
        font-size: 30px;
    }

    #volunteer-job-one .content h4 {
        font-size: 20px;
    }

    #volunteer-job-one .content .summary {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    #volunteer-job-two {
        margin-top: 30px;
        width: 40%;
        margin-left: 20%;
        margin-bottom: 10%;

    }

    #volunteer-job-two .content .state-line {
        font-size: 30px;
    }

    #volunteer-job-two .content h4 {
        font-size: 20px;
    }

    #volunteer-job-two .content .summary {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    /* PROJECTS AREA */

    div#projects {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.cards.pusher {
        margin: 8% 1%;

    }

    div.hidden.content h1 {
        border-bottom: 1px solid #333;
        width: 80%;
        height: auto;
        margin-left: 9%;
        padding-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }

    div.hidden.content p {
        text-align: center;
        font-size: 14px;
    }

    div.hidden.content button {
        display: inline-flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    button.github {
        margin-left: 90px !important;
    }

    div.visible.content {
        padding: 0;
        width: 100%;
        height: auto;
    }

    div.visible.content img {
        width: 100%;
        height: auto;
        padding: 0;
        background: #fff;
    }



    /* SKILLS AREA */

    div#skills {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.skill-card {
        width: 60%;
        margin: 10% 11%;
    }

    div.ui.skill-card div.content div.header {
        font-size: 22px !important;
    }

    div.skill-card h3 {
        text-align: center;
        font-size: 14px;
    }

    div.skill-card img {
        width: 125px !important;
        height: 125px !important;
    }

    /* EDUCATION AREA */

    div#education {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.cards#education-area {
        margin: 10% 0;
    }

    div.card-header {
        font-size: 22px;
        padding-top: 6%;
        margin-left: -70px;
        width: 100%;
        text-align: center;
    }

    div.ui.edu-card {
        width: 40%;
        margin: 5% 20%;
    }

    div.edu-content {
        text-align: center;
        width: 100%;
        margin-left: 55%;
    }

    div.edu-content.mssu {
        margin-left: 20%;
    }

    .ku {
        width: 50px !important;
        height: 50px !important;
        margin-left: 4%;
        margin-top: 2%;
    }

    /* CONTACT AREA */

    .contact-area {
        background-image: url("../images/gif-background.gif");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin-left: -20px;  
        padding: 10% 0 50% 0;
    }

    div#contact {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    .contact-button {
        padding: 20px;
        background: none;
        border: none;
        margin: 10% 34%;
    }

    .contact-area h2 {
        color: #fcfcfc;
        letter-spacing: 2px;
        font-size: 50px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fcfcfc;
        padding: 10% 30%;
    }

    .contact-button button {
        outline: none !important;
    }

    .contact-button i {
        color: #fcfcfc !important;
        margin-top: -300px;
    }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1025px) 
and (max-width: 1600px) {
/* Styles */


    /* SIDEBAR AREA  */
    div.ui.left.sidebar {
        width: 255px;
    }

    a.item {
        font-size: 20px;
    }

    #lance-image {
        margin-left: 14%;
    }

    .head-sidebar h2 {
        font-size: 24px;
        text-align: center;
        color: #f35459;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #f35459
    }

    .head-sidebar p {
        font-size: 20px !important;
        text-align: center;
    }

    /* INTRO AREA */

    div#intro-name {
        z-index: 1;
        position: absolute;
        left: 20%;
        top: 24%;
        color: #fff;
        font-size: "Fira Sans", sans-serif;
    }

    #intro-name {
        letter-spacing: 2px
    }

    div#intro-name p {
        font-size: 40px;
        margin: -14px;
        text-align: center;
        font-weight: 700;
        color: #fff;
    }

    div#intro-name span {
        color: #f35459;
        font-style: italic;
        font-size: 50px;
    }

    div#intro-name button {
        margin-left: 28%;
        margin-top: 120px;
        font-size: 20px;
        font-weight: 400;
    }

    div.column.right-side {
        padding: 0 !important;
    }

    div.column.right-side img {
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    /* ABOUT AREAS */

    div#about-me {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 20px 30px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    blockquote {
        font-size: 30px;
        border-left: 8px solid #333;
        padding: 0px 40px;
        line-height: 40px;
    }

    #about {
        padding: 5% 5%;
    }

    #about p {
        font-size: 25px;
        text-align: justify;
        padding: 30px 150px 10px 40px;
    }

    /* EXPERIENCE AREA */

    div#experience {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    #volunteer-job-one {
        margin-top: 8%;
        width: 40%;
        margin-left: 20%;
    }

    #volunteer-job-one .content .state-line {
        font-size: 30px;
    }

    #volunteer-job-one .content h4 {
        font-size: 20px;
    }

    #volunteer-job-one .content .summary {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    #volunteer-job-two {
        margin-top: 30px;
        width: 40%;
        margin-left: 20%;
        margin-bottom: 10%;

    }

    #volunteer-job-two .content .state-line {
        font-size: 30px;
    }

    #volunteer-job-two .content h4 {
        font-size: 20px;
    }

    #volunteer-job-two .content .summary {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    /* PROJECTS AREA */

    div#projects {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.cards.pusher {
        margin: 8% 1%;

    }

    div.hidden.content h1 {
        border-bottom: 1px solid #333;
        width: 80%;
        height: auto;
        margin-left: 9%;
        padding-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }

    div.hidden.content p {
        text-align: center;
        font-size: 14px;
    }

    div.hidden.content button {
        display: inline-flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    button.github {
        margin-left: 90px !important;
    }

    div.visible.content {
        padding: 0;
        width: 100%;
        height: auto;
    }

    div.visible.content img {
        width: 100%;
        height: auto;
        padding: 0;
        background: #fff;
    }



    /* SKILLS AREA */

    div#skills {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.skill-card {
        width: 60%;
        margin: 10% 11%;
    }

    div.ui.skill-card div.content div.header {
        font-size: 22px !important;
    }

    div.skill-card h3 {
        text-align: center;
        font-size: 14px;
    }

    div.skill-card img {
        width: 125px !important;
        height: 125px !important;
    }

    /* EDUCATION AREA */

    div#education {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    div.ui.cards#education-area {
        margin: 10% 0;
    }

    div.card-header {
        font-size: 22px;
        padding-top: 6%;
        margin-left: -70px;
        width: 100%;
        text-align: center;
    }

    div.ui.edu-card {
        width: 40%;
        margin: 5% 20%;
    }

    div.edu-content {
        text-align: center;
        width: 100%;
        margin-left: 55%;
    }

    div.edu-content.mssu {
        margin-left: 20%;
    }

    .ku {
        width: 50px !important;
        height: 50px !important;
        margin-left: 4%;
        margin-top: 2%;
    }

    /* CONTACT AREA */

    .contact-area {
        background-image: url("../images/gif-background.gif");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin-left: -20px;  
        padding: 10% 0 50% 0;
    }

    div#contact {
        color: white;
        background-color: #f35459;
        font-size: 40px;
        padding: 10px 10px !important;
        margin-left: -20px;
        margin-right: -35px;
    }

    .contact-button {
        padding: 20px;
        background: none;
        border: none;
        margin: 10% 34%;
    }

    .contact-area h2 {
        color: #fcfcfc;
        letter-spacing: 2px;
        font-size: 50px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fcfcfc;
        padding: 10% 30%;
    }

    .contact-button button {
        outline: none !important;
    }

    .contact-button i {
        color: #fcfcfc !important;
        margin-top: -300px;
    }

}

@media only screen
and (min-width: 1600px)
and (min-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {

    /* SIDEBAR AREA */

    div.ui.left.sidebar {
        width: 285px;
    }

    a.item {
        font-size: 28px;
    }
    
    #lance-image {
        margin-left: 15%;
    }
    
    .head-sidebar h2 {
        font-size: 40px;
        text-align: center;
        color: #f35459;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #f35459
    }
    
    .head-sidebar p {
        font-size: 21px !important;
        text-align: center;
    }
    
    /* INTRO AREA */

    div#intro-name {
        z-index: 1;
        position: absolute;
        margin-left: 26%;
        margin-top: 13%;
        text-align: justify;
        color: #fff;
        font-size: "Fira Sans", sans-serif;
    }
    
    #intro-name {
        letter-spacing: 2px
    }
    
    div#intro-name p {
        font-size: 40px;
        text-align: center;
        font-weight: 700;
        color: #fff;

    }
    
    div#intro-name span {
        color: #f35459;
        font-style: italic;
        font-size: 50px;
    }
    
    div#intro-name button {
        margin-top: 120px;
        font-size: 20px;
        font-weight: 400;
        margin-left: 29%;
    }
    
    div.column.right-side {
        padding: 0 !important;
    }
    
    div.column.right-side img {
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }
    
    /* ABOUT AREA */

    div#about-me {
        color: white;
        background-color: #f35459;
        font-size: 50px;
        padding: 30px !important;
        margin-left: 10px;
    }
    
    blockquote {
        font-size: 45px;
        border-left: 8px solid #333;
        margin-left: 2%;
        margin-right: 10%;
        margin-bottom: 10%;
        margin-top: -5%;
        line-height: 50px;
        padding: 10px;
    }
    
    #about {
        padding: 10% 14% 15% 15%;
    }
    
    #about p {
        font-size: 30px;
        text-align: justify;
    }

    /* EXPERIENCE AREA */
    
    div.experience {
        padding: 100px 0 240px 0;
    }
    
    div#experience {
        color: white;
        background-color: #f35459;
        font-size: 50px;
        padding: 30px !important;
        margin-left: -10px;
    }
    
    #volunteer-job-one {
        margin-top: 8%;
        width: 40%;
        margin-left: 22%;
    }
    
    #volunteer-job-one .content .state-line {
        font-size: 40px;
    }
    
    #volunteer-job-one .content h4 {
        font-size: 26px;
    }
    
    #volunteer-job-one .content .summary {
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
    }
    
    #volunteer-job-two {
        margin-top: 5%;
        width: 40%;
        margin-left: 22%;
        margin-bottom: 8%;
    
    }
    
    #volunteer-job-two .content .state-line {
        font-size: 40px;
    }
    
    #volunteer-job-two .content h4 {
        font-size: 26px;
    }
    
    #volunteer-job-two .content .summary {
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
    }

    /* PROJECTS AREA */
    div#projects {
        color: white;
        background-color: #f35459;
        font-size: 50px;
        padding: 30px !important;
        margin-left: -10px;
    }
    
    div.projects {
        margin: 10% 18% !important;
    }
    
    div.hidden.content h1 {
        border-bottom: 1px solid #333;
        width: 90%;
        margin-left: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    
    div.hidden.content p {
        text-align: center;
        font-size: 16px;
    }
    
    div.hidden.content button {
        display: inline-flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    
    button.github {
        margin-left: 90px !important;
    }
    
    div.visible.content {
        padding: 0;
    }
    
    div.visible.content img {
        width: 100%;
        height: auto;
        padding: 0;
        background: #fff;
    }

    /* SKILLS AREA */
    div#skills {
        color: white;
        background-color: #f35459;
        font-size: 50px;
        padding: 30px !important;
        margin-left: -10px;
    }
    
    div.ui.skill-card {
        width: 60%;
        margin: 50px 300px;
    }
    
    div.header {
        font-size: 30px !important;
    }
    
    div.skill-card h3 {
        text-align: center;
    }
    
    div.skill-card.content.header {
        font-size: 40px;
    }
    
    #materialize {
        width: 150px;
        height: 150px;
    }
    
    #react {
        width: 150px;
        height: 150px;
    }
    
    #wordpress {
        width: 150px;
        height: 150px;
    }

    /* EDUCATION AREA */

    div#education {
        color: white;
        background-color: #f35459;
        font-size: 50px;
        padding: 30px !important;
        margin-left: -10px;
    }

    div#education-area {
        margin: 2% 0;
        padding: 0;
    }
    
    div.ui.edu-card {
       display: inline-block;
       width: 50%;
       margin-left: 22%;
    }

    div.card-header.header {
        padding-top: 1.5%;
        text-align: center;
    }

    div.edu-content {
        text-align: center;
        width: 100%;
        margin-left: 165%;
    }

    div.edu-content.mssu {
        margin-left: 95%;
    }
    
    
    .ku {
        width: 50px !important;
        height: 50px !important;
    }

    /* CONTACT AREA */

    div#contact {
        color: white;
        background-color: #f35459;
        font-size: 50px;
        padding: 30px !important;
        margin-left: -10px;
    }
    
    
    .contact-area {
        background-image: url("../images/gif-background.gif");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 13px;
        margin-left: -15px;
        width: 100%;
        height: 100%;
        padding: 200px 0;
        
    }
    
    .contact-button {
        padding: 20px;
        background: none;
        border: none;
        margin: 10% 38%;
    }
    
    .contact-area h2 {
        color: #fcfcfc;
        margin-left: 34%;
        letter-spacing: 2px;
        font-size: 60px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fcfcfc;
    }
    
    .contact-button button {
        outline: none !important;
    }
    
    .contact-button i {
        color: #fcfcfc !important;
    }
}


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}