a.item {
    font-size: 28px;
}

#lance-image {
    margin-left: 15px;
}

.head-sidebar h2 {
    font-size: 30px;
    text-align: center;
    color: #f35459;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f35459
}

.head-sidebar p {
    font-size: 20px !important;
    text-align: center;
}

div#intro-name {
    z-index: 1;
    position: absolute;
    margin-top: 350px;
    margin-left: 850px;
    color: #fff;
    font-size: "Fira Sans", sans-serif;
}

#intro-name {
    letter-spacing: 2px
}

div#intro-name p {
    font-size: 40px;
    margin: -14px;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

div#intro-name span {
    color: #f35459;
    font-style: italic;
    font-size: 50px;
}

div#intro-name button {
    margin-top: 120px;
    margin-left: 130px;
    font-size: 20px;
    font-weight: 400;
}

div.column.right-side {
    padding: 0 !important;
}

div.column.right-side img {
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

div#about-me {
    color: white;
    background-color: #f35459;
    font-size: 60px;
    padding: 40px !important;
    margin-left: -20px;
    margin-right: -35px;
}

blockquote {
    font-size: 45px;
    border-left: 8px solid #333;
    padding-left: 5px;
    padding: 20px;
}

#about {
    padding: 160px 0;
}

#about p {
    font-size: 35px;
    padding: 15px 20px 15px 20px;
}

div.experience {
    padding: 100px 0 240px 0;
}

div.head-bar {
    color: white;
    background-color: #f35459;
    font-size: 60px;
    padding: 25px !important;
    margin-left: -15px;
    margin-right: -35px;
    margin-bottom: 20px;
}

#volunteer-job-one {
    margin-top: 30px;
    width: 40%;
    margin-left: 650px;
}

#volunteer-job-one .content .state-line {
    font-size: 40px;
}

#volunteer-job-one .content h4 {
    font-size: 26px;
}

#volunteer-job-one .content .summary {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

#volunteer-job-two {
    margin-top: 30px;
    width: 40%;
    margin-left: 650px;

}

#volunteer-job-two .content .state-line {
    font-size: 40px;
}

#volunteer-job-two .content h4 {
    font-size: 26px;
}

#volunteer-job-two .content .summary {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

div.projects {
    padding: 50px 0 240px 0;
}

div.ui.cards.pusher {
    margin-left: 330px;
    margin-top: 100px;
    margin-bottom: 90px;
}

div.hidden.content h1 {
    border-bottom: 1px solid #333;
    width: 90%;
    margin-left: 10px;
    padding-bottom: 10px;
    text-align: center;
}

div.hidden.content p {
    text-align: center;
    font-size: 16px;
}

div.hidden.content button {
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

button.github {
    margin-left: 90px !important;
}

div.visible.content {
    padding: 0;
}

div.visible.content img {
    width: 100%;
    height: auto;
    padding: 0;
    background: #fff;
}

div.ui.skill-card {
    width: 60%;
    margin: 50px 300px;
}

div.header {
    font-size: 30px !important;
}

div.skill-card h3 {
    text-align: center;
}

div.skill-card.content.header {
    font-size: 40px;
}

#materialize {
    width: 150px;
    height: 150px;
}

#react {
    width: 150px;
    height: 150px;
}

#wordpress {
    width: 150px;
    height: 150px;
}

div.ui.edu-card {
   display: inline-block;
   width: 50%;
   margin-left: 100px;
}


.ku {
    width: 50px !important;
    height: 50px !important;
}


div.ui > div.edu-card > div.content > div.header {
    margin-top: 5px !important;
}

.contact-area {
    background-image: url("../images/gif-background.gif");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 13px;
    margin-left: -15px;
    width: 100%;
    height: 100%;
    padding: 200px 0;
    
}

.contact-button {
    padding: 20px;
    background: none;
    border: none;
    margin: 300px 700px;
}

.contact-area h2 {
    color: #fcfcfc;
    margin-left: 600px;
    letter-spacing: 2px;
    font-size: 60px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fcfcfc;
}

.contact-button button {
    outline: none !important;
}

.contact-button i {
    color: #fcfcfc !important;
    margin-top: -300px;
}
